.custom-bg{
    
    background-color: bisque;
}

.custom-color{
    color: brown;
}

.footer-bg{
    background-color: beige;
   
}

#contact{
    background-color: beige;
  
}

#services{
    background-color: beige;
}

#about{
    background-color: beige;
}
